:root {
  --bg: #f7f4ef;
  --surface: #ffffff;
  --text: #3a3a3a;
  --text-secondary: #6B6B6B;

  --accent-1: #c2a878; /* antique gold */
  --accent-2: #a3b18a; /* sage */
  --accent-3: #d9cfc1; /* warm beige */

  --button-hover-color: #b8c99b;

  --main-font: "Lexend", sans-serif;
}

* {
  box-sizing: border-box;
  font-family: var(--main-font);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--text);
  display: grid;
  grid-template-columns: 20% auto;
}

#side-bar {
  padding: 0 20px;
  background-color: var(--accent-3);
}

#side-bar h1 {
  color: var(--text);
}

form input,
textarea {
  display: block;
  width: 100%;
  margin: 5px 0 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 0.875em;
  padding: 0.5rem;
  background-color: var(--bg);
}

form input {
  border-radius: 50px;
  padding: 0.5rem 1rem;
}

form legend {
  font-weight: bold;
  margin-bottom: 10px;
}

#add-btn {
  border: none;
  background-color: var(--accent-2);
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 50px;
}

nav {
  padding: 1.5rem 0;
}

button {
  cursor: pointer;
}

#search-input {
  font-family: var(--main-font);
  padding: 1rem 1.5rem;
  border-radius: 50px;
  width: 300px;
  border: solid 2px var(--text);
}

#search-btn {
  padding: 1rem 1.5rem;
  border-radius: 50px;
  border: none;
  background-color: var(--accent-2);
  color: white;
  margin-left: 8px;
}

#search-btn:hover,
#add-btn:hover {
  background-color: var(--button-hover-color);
}

#main-body {
  padding: 0 20px;
}

#book-container {
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  place-items: center;
  gap: 25px;
  background-color: var(--surface);
  padding: 20px;
  align-items: start;
}

.book-card {
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  min-width: 100px;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-card img {
  width: 100%;
  margin: auto;
  height: 100%;
  object-fit: cover;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.book-title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0.3rem 0;
}

.author {
  font-size: 0.9rem;
  margin: 0;
  color: var(--text-secondary);
}

#book-popup {
  position: fixed;
  inset: 0px;
  width: 650px;
  height: 450px;
  max-width: 100vw;
  max-height: 100dvh;
  margin: auto;
  z-index: 999;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

#close-popup-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  background-color: rgb(236, 74, 74);
  color: white;
  border: none;
  font-weight: bold;
  font-size: 1rem;
}

#close-popup-btn:hover {
  background-color: rgb(255, 98, 98);
}

.hidden {
  display: none;
}

@media screen and (max-width: 1000px) {
  #book-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 800px) {
  #book-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
